# This file is for unifying the coding style for different editors and IDEs
# see editorconfig.org for more information

root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
[**.scss]
end_of_line = lf

[**.md]
trim_trailing_whitespace = false

## Commenting out below in case we ever want to customize per filetype
# [**.js]
# indent_size = 4

# [**.css]
# indent_size = 4
