<md-toolbar class="main-header md-primary md-whiteframe-1dp" style="background-color: hsla({{ $ctrl.color.hue }}, {{ $ctrl.color.saturation }}%, {{ $ctrl.color.luminosity }}%, {{ $ctrl.color.alpha }});">
    <div class="md-toolbar-tools">
        <h2>Angular Radial Color Picker Demo</h2>
        <span flex></span>
        <a class="md-body-1" href="https://www.npmjs.com/package/angular-radial-color-picker" target="_blank">
            <span hide-xs>NPM</span>
            <md-icon>file_download</md-icon>
        </a>
        <a class="md-body-1" href="https://github.com/talamaska/angular-radial-color-picker" target="_blank">
            <span hide-xs>GitHub</span>
            <md-icon>code</md-icon>
        </a>
    </div>
</md-toolbar>

<div class="wrapper">
    <md-button class="main-fab md-fab" ng-class="{ 'pulsate': $ctrl.isNotOpened }" aria-label="Select Color" ng-click="$ctrl.showPicker($event)">
        <md-icon aria-label="Color picker">colorize</md-icon>
    </md-button>

    <div class="overlapping-main-content" layout="row" layout-align="center center">
        <div class="main-content-sheet md-whiteframe-3dp" flex-xs="100" flex-sm="100" flex-gt-sm="60">
            <div layout="row" layout-align="center">
                <div class="text-container" flex-gt-md="60" flex-xs="100" flex-sm="100">
                    <h2 class="md-headline">Introduction</h2>
                    <p>
                        Great UX starts with two basic principles - ease of use and simplicity. Selecting a color should be as easy as moving a slider, clicking a checkbox or pressing a key just like other basic form elements behave.
                    </p>

                    <p>
                        This is a flexible and elegant material design color picker. Developed with mobile devices and keyboard usage in mind. Key features:
                    </p>

                    <ul>
                        <li>Small size - 5.4 KB gzipped (JS and CSS combined)</li>
                        <li>Supports touch devices</li>
                        <li>Responsive size</li>
                        <li>Optimized animations</li>
                        <li>Supports CommonJS and ES Modules</li>
                        <li>
                            Ease of use
                            <ul>
                                <li>Double click anywhere to move the knob to a color</li>
                                <li><kbd>Tab</kbd> to focus the picker</li>
                                <li><kbd>Up</kbd> or <kbd>Right</kbd> arrow key to increase hue. Hold <kbd>Ctrl</kbd> to go quicker</li>
                                <li><kbd>Bottom</kbd> or <kbd>Left</kbd> arrow key decrease hue. Hold <kbd>Ctrl</kbd> to go quicker</li>
                                <li><kbd>Enter</kbd> to select a color and close the picker or to open it</li>
                                <li>Mouse <kbd>ScrollUp</kbd> to increase and <kbd>ScrollDown</kbd> to decrease hue (Opt-in)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center center">
        <div class="main-content-sheet md-whiteframe-3dp" flex-xs="100" flex-sm="100" flex-gt-sm="60">
            <div layout="row" layout-align="center">
                <div class="text-container" flex-gt-md="60" flex-xs="100" flex-sm="100">
                    <h2 class="md-headline">Usage</h2>
                    <h4 class="md-subhead">With Module Build System</h4>
                    <p><b>Step 1</b>: Install package from npm.</p>
                </div>
            </div>

            <div layout="row" layout-align="center" class="gist-wrapper">
                <div class="gist" flex-gt-md="60" flex-xs="100" flex-sm="100">
<pre class="line-numbers"><code class="language-bash">npm install angular-radial-color-picker

# or using yarn
yarn add angular-radial-color-picker
</code></pre>
                </div>
            </div>

            <div layout="row" layout-align="center">
                <div class="text-container" flex-gt-md="60" flex-xs="100" flex-sm="100">
                    <p><b>Step 2</b>: Import & add the module as angular dependency.</p>
                </div>
            </div>

            <div layout="row" layout-align="center" class="gist-wrapper">
                <div class="gist" flex-gt-md="60" flex-xs="100" flex-sm="100">
<pre class="line-numbers"><code class="language-javascript">import angular from 'angular';
import colorPicker from 'angular-radial-color-picker';
import 'angular-radial-color-picker/dist/css/color-picker.scss';

angular.module('app', [colorPicker]);</code></pre>
                </div>
            </div>

            <div layout="row" layout-align="center">
                <div class="text-container" flex-gt-md="60" flex-xs="100" flex-sm="100">
                    <p><b>Note</b>: Depending on your build tool of choice you have to setup the appropriate Webpack loaders or Rollup plugins. The color picker was tested with the latest versions of <a href="https://github.com/webpack-contrib/sass-loader">sass-loader</a> and <a href="https://github.com/egoist/rollup-plugin-postcss">rollup-plugin-postcss</a>.</p>
                </div>
            </div>

            <div layout="row" layout-align="center">
                <div class="text-container" flex-gt-md="60" flex-xs="100" flex-sm="100">
                    <h4 class="md-subhead">UMD version</h4>
                    <p>You can also use the minified sources directly</p>
                </div>
            </div>

            <div layout="row" layout-align="center" class="gist-wrapper">
                <div class="gist" flex-gt-md="60" flex-xs="100" flex-sm="100">
<pre class="line-numbers"><code class="language-html">&lt;head&gt;
    &lt;link href="https://unpkg.com/angular-radial-color-picker@latest/dist/css/color-picker.min.css" rel="stylesheet"&gt;
&lt;/head&gt;
&lt;body ng-app="app"&gt;
    &lt;color-picker&gt;&lt;/color-picker&gt;

    &lt;script src="https://unpkg.com/angular@1.6.6/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://unpkg.com/angular-radial-color-picker@latest/dist/color-picker.umd.min.js"&gt;&lt;/script&gt;
    &lt;script&gt;
        angular.module('app', ['color.picker.core']);
    &lt;/script&gt;
&lt;/body&gt;</code></pre>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center center">
        <div class="main-content-sheet md-whiteframe-3dp" flex-xs="100" flex-sm="100" flex-gt-sm="60">
            <div layout="row" layout-align="center">
                <div class="text-container" flex-gt-md="60" flex-xs="100" flex-sm="100">
                    <h2 class="md-headline">Sizing</h2>
                    <p>
                        Our color picker is in the <code>&lt;md-dialog&gt;</code> component.
                        On select the color picker closes itself and closes the dialog.
                    </p>
                    <p>
                        As you might have noticed the color picker changes it's size when there is enough space.
                        There is no voodoo magic - just plain old media queries.
                    </p>
                </div>
            </div>

            <div layout="row" layout-align="center" class="gist-wrapper">
                <div class="gist" flex-gt-md="60" flex-xs="100" flex-sm="100">
<pre class="line-numbers"><code class="language-css">color-picker {
    width: 230px;
    height: 230px;
}
@media screen and (min-width: 840px) {
    color-picker {
        width: 350px;
        height: 350px;
    }
}</code></pre>
                </div>
            </div>

            <div layout="row" layout-align="center">
                <div class="text-container" flex-gt-md="60" flex-xs="100" flex-sm="100">
                    <p>
                        If you want a percentage based size you can use this neat little <a href="https://css-tricks.com/aspect-ratio-boxes/">trick</a> with 1:1 aspect ratio box of 40% width of the parent element.
                    </p>
                </div>
            </div>

            <div layout="row" layout-align="center" class="gist-wrapper">
                <div class="gist" flex-gt-md="60" flex-xs="100" flex-sm="100">
<pre class="line-numbers"><code class="language-css">color-picker {
    height: 0;
    width: 40%;
    padding-bottom: 40%;
}</code></pre>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" layout-align="center center">
        <div class="main-content-sheet md-whiteframe-3dp" flex-xs="100" flex-sm="100" flex-gt-sm="60">
            <div layout="row" layout-align="center">
                <div class="text-container" flex-gt-md="60" flex-xs="100" flex-sm="100">
                    <h2 class="md-headline">Animations</h2>
                    <p>
                        According to Google's material design guidelines desktop animations should be faster
                        than those on mobile. The <code>&lt;color-picker&gt;</code> was written with extensibility in mind.
                    </p>

                    <p>
                        You can tweek the animations' duration with simple css. The example below shows the animations sped up by 30%.
                        Wrap the rules in a <code>@media screen and (min-width: 960px) {}</code> and you got yourself nice and quick transitions on
                        larger screens and slower and smooth transitions on smaller screens.
                    </p>

                    <p>You can even go further and change the animation timing functions. Sky's the limit!</p>
                </div>
            </div>
            <div layout="row" layout-align="center" class="gist-wrapper">
                <div class="gist" flex-gt-md="60" flex-xs="100" flex-sm="100">
<pre class="line-numbers"><code class="language-css">color-picker .color-palette {
    /* color wheel animation */
    transition-duration: .35s;
}
color-picker .color {
    /* selector (middle button) pulse animation */
    animation-duration: .28s;

    /* selector (middle button) appear/disappear */
    transition-duration: .49s;
}
color-picker .color-shadow-animate {
    /* ripple animation */
    animation-duration: .35s;
}
color-picker .knob {
    /* first property is for knob shadow on drag */
    /* second property is for knob appear/disappear */
    transition-duration: .2s, .28s;
}</code></pre>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="color-picker-dialog">
    <md-dialog class="color-picker-dialog">
         <md-toolbar class="md-accent md-hue-2">
              <div class="md-toolbar-tools">
                   <h2>Pick a Color</h2>
                   <span flex></span>
                   <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                        <md-icon>close</md-icon>
                   </md-button>
              </div>
         </md-toolbar>
         <md-dialog-content class="md-padding">
              <div class="dialog-content-wrapper">
                   <color-picker color="vm.initialColor"></color-picker>
                   <div class="hint">
                        <p><strong>Hint:</strong> drag the wheel to change the color.</p>
                        <p>Save your selection by clicking the color circle in the middle</p>
                   </div>
              </div>
         </md-dialog-content>
    </md-dialog>
</script>
