$white: #ffffff !default;
$default-color: rgb(110, 0, 255) !default;
$button-stable-border: #b2b2b2  !default;

$material-curve-angular: cubic-bezier(0.35,0,0.25,1) !default;
$material-curve-shadows: cubic-bezier(0.4, 0, 0.2, 1) !default;
$material-curve-input:  cubic-bezier(0.62, 0.28, 0.23, 0.99) !default;
$material-curve-lite-1:  cubic-bezier(0.4, 0, 1, 1) !default;
$material-curve-lite-2:  cubic-bezier(0, 0, 0.2, 1) !default;

@function z-depth-all($depth: 1) {
    $color1:    0.12, 0.19, 0.19, 0.21, 0.22;
    $blur1:     10px, 20px, 50px, 55px, 77px;

    $color2:    0.16, 0.2, 0.24, 0.22, 0.2;
    $blur2:     5px, 17px, 15px, 28px, 24px;
    @return 0 0 nth($blur1, $depth) rgba(0, 0, 0, nth($color1, $depth)), 0 0 nth($blur2, $depth) rgba(0, 0, 0, nth($color2, $depth));
}

@mixin z-depth-all($depth: 1) {
    box-shadow: z-depth-all($depth);
}

@mixin disable-user-select() {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    -webkit-tap-highlight-color: transparent;
}

color-picker {
    display: block;
    overflow: hidden;
    width: 280px; // default size
    height: 280px;
    position: relative;

    &,
    .color-palette,
    .rotator,
    .color,
    .color-shadow,
    .color-shadow-animate,
    .knob {
        @include disable-user-select();
    }

    .color-palette {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: transparent url('../images/wheel.png') no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        will-change: transform, opacity;
        transition: transform .5s $material-curve-angular,
                    opacity .5s $material-curve-angular;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 76%;
            height: 76%;
            top: 12%;
            left: 12%;
            background-color: #fff;
            border-radius: 50%;
        }
        &.blur-palette-in {
            transform: scale(1);
            opacity: 1;
        }

        &.blur-palette-out {
            transform: scale(0);
            opacity: 0;
        }
    }

    .rotator {
        width: 120%; // slightly larger to allow better accessibility
        height: 120%;
        position: absolute;
        top: -10%;
        left: -10%;
        z-index: 9;

        &.dragging {
            z-index: 11;
        }
    }

    .color {
        position: absolute;
        width: 20%;
        height: 20%;
        top: 40%;
        left: 40%;
        margin: 0;
        border-radius: 50%;
        box-shadow: 0 0 1px 6px $white, 0 0 0 7px $button-stable-border;
        z-index: 10;
        background-color: $default-color;
        outline: 0;
        border-style: none;
        cursor: pointer;
        transition: transform .7s $material-curve-angular;
        will-change: transform;

        &.zoom-color-in {
            transform: scale(1);
        }

        &.zoom-color-out {
            transform: scale(0);
            transition-delay: .5s;
        }

        &.click-color {
            animation: click-color .4s $material-curve-angular forwards;
        }
    }

    .color-shadow {
        width: 20%;
        height: 20%;
        border-radius: 50%;
        border: transparent solid 8px;
        opacity: .3;
        z-index: 9;
        position: absolute;
        top: 40%;
        left: 40%;
        box-sizing: border-box;
    }

    .color-shadow-animate {
        animation: color-shadow-animation .5s $material-curve-angular forwards;
    }

    .knob {
        @include z-depth-all(1);
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        width: 6%;
        height: 6%;
        top: 10.5%; // Magic constant...
        left: 47%; // 50% - width / 2
        background-color: $white;
        transition: box-shadow 280ms $material-curve-shadows,
                    transform .4s $material-curve-angular;
        outline: 0;
        border-style: none;

        &.zoom-knob-in {
            transform: scale(1);
        }

        &.zoom-knob-out {
            transform: scale(0);
        }
    }

    .dragging .knob {
        @include z-depth-all(3);
    }
}

@keyframes color-shadow-animation {
    0%   { transform: scale(1); }
    50%  { opacity: .1; }
    100% {
        opacity: 0;
        border-width: 0;
        transform: scale(3.8);
    }
}
@keyframes click-color {
    0%   { transform: scale(1); }
    25%  { transform: scale(0.8); }
    50%  { transform: scale(1); }
    100% { transform: scale(1); }
}
