$white: #ffffff !default;
$default-color: rgb(110, 0, 255) !default;
$button-stable-border: #b2b2b2  !default;

$material-curve-angular: cubic-bezier(0.35,0,0.25,1) !default;
$material-curve-shadows: cubic-bezier(0.4, 0, 0.2, 1) !default;
$material-curve-input:  cubic-bezier(0.62, 0.28, 0.23, 0.99) !default;
$material-curve-lite-1:  cubic-bezier(0.4, 0, 1, 1) !default;
$material-curve-lite-2:  cubic-bezier(0, 0, 0.2, 1) !default;

@function z-depth-all($depth: 1) {
    $color1:    0.12, 0.19, 0.19, 0.21, 0.22;
    $blur1:     10px, 20px, 50px, 55px, 77px;

    $color2:    0.16, 0.2, 0.24, 0.22, 0.2;
    $blur2:     5px, 17px, 15px, 28px, 24px;
    @return 0 0 nth($blur1, $depth) rgba(0, 0, 0, nth($color1, $depth)), 0 0 nth($blur2, $depth) rgba(0, 0, 0, nth($color2, $depth));
}
@mixin z-depth-all($depth: 1) {
    box-shadow: z-depth-all($depth);
}
.color-picker {
    width: 300px;
    height: 300px;
    margin: 8vw auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate3d(0, 0, 0);

    .color-palete {

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0;
        border-radius: 50%;
        transform: translate3d(0, 0, 0) scale3d(0.2, 0.2, 1);

        &.final-state-1 {
            transform: scale3d(1, 1, 1);
            filter: blur(0);
            opacity: 1;
        }
    }

    .rotator {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;

        &.final-state-1 {
            transform: scale3d(1, 1, 1);
            filter: blur(0);
            opacity: 1;
        }
    }

    .color {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0 0 1px 6px $white, 0 0 0 7px $button-stable-border;
        z-index: 10;
        transition: background-color 100ms linear;
        background-color: $default-color;
        transform: translate3d(0, 0, 0) scale3d(0, 0, 1);
        position: relative;

        &.final-state-1 {
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            box-shadow: 0 0 1px 6px $white, 0 0 0 7px $button-stable-border;
        }
    }

    .color-shadow {
        width: 60px;
        height: 60px;
        border-color: none;
        border-radius: 50%;
        border-style: solid;
        border-width: 0;
        opacity: 0.2;
        z-index: 9;
        position: absolute;
        transform-origin: 30px 30px;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
    }

    .color-shadow-animate {
        animation-name: color-shadow-animation;
        animation-duration: 500ms;
        animation-timing-function: $material-curve-angular;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .knob {
        @include z-depth-all(1);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        top: 8px;
        left: 140px;
        background-color: $white;
        transition: box-shadow 280ms $material-curve-shadows;
        opacity: 0;
        transform: translate3d(0, 0, 0) scale3d(0, 0, 0);
        transform-origin: 10px 10px;

        &::before {
            position: absolute;
            top: -9px;
            left: -9px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            content: '';
        }

        &.final-state-1 {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }

    .dragging {
        @include z-depth-all(3);
    }

    .zoom-in-color {
        animation-name: zoom-color;
        animation-duration: 700ms;
        animation-timing-function: $material-curve-angular;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .zoom-out-color {
        animation-name: zoom-color;
        animation-duration: 700ms;
        animation-timing-function: $material-curve-angular;
        animation-direction: reverse;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .click-color {
        animation-name: click-color;
        animation-duration: 500ms;
        animation-timing-function: $material-curve-angular;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .zoom-in-knob {
        animation-name: zoom-knob;
        animation-duration: 500ms;
        animation-timing-function: $material-curve-angular;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 300ms;
    }

    .zoom-out-knob {
        animation-name: zoom-knob;
        animation-duration: 500ms;
        animation-timing-function: $material-curve-angular;
        animation-direction: reverse;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0ms;
    }

    .blur-zoom-in {
        animation-name: blur-zoom;
        animation-duration: 700ms;
        animation-timing-function: $material-curve-angular;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 100ms;
        filter: blur(10px);
    }

    .blur-zoom-out {
        animation-name: blur-zoom;
        animation-duration: 700ms;
        animation-timing-function: $material-curve-angular;
        animation-direction: reverse;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 500ms;
    }
}

@keyframes zoom-knob {
    0%   {
        transform: scale3d(0, 0, 1);
    }

    1%   {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes zoom-color {
    0%   {
        transform: scale3d(0, 0, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes blur-zoom {
    0%   {
        transform: scale3d(0, 0, 1);
        filter: blur(10px);
        opacity: 0;
    }

    1%   {
        opacity: 1;
    }

    100% {
        transform: scale3d(1, 1, 1);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes color-shadow-animation {
    0% {
        transform: scale3d(1, 1, 1);
        border-width: 8px;
    }

    50% {
        border-width: 4px;
    }

    100% {
        opacity: 0;
        border-width: 0;
        transform: scale3d(3.8, 3.8, 1);
    }
}
@keyframes click-color {
    0%   {
        transform: scale3d(1, 1, 1);
    }

    25% {
        transform: scale3d(0.8, 0.8, 1);
    }

    50% {
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}
